<% layout('layouts/boilerplate.ejs') %>

<!-- Page to show info about campground -->
<h1><%= campgroundDetails.title %></h1>
<h2><%= campgroundDetails.location %></h2>
<img src=" <%= campgroundDetails.image %> " alt="" />
<p><%= campgroundDetails.description %></p>
<p>$<%= campgroundDetails.price %></p>
<b
    ><a href="/campgrounds/<%= campgroundDetails.id %>/edit "
        >Edit Campground</a
    ></b
>

<!-- Button for deleting campground -->
<form
    action="/campgrounds/<%= campgroundDetails.id %>?_method=DELETE"
    method="POST">
    <button>Delete</button>
</form>
<b><a href="/campgrounds">Back to All Campgrounds</a></b>
